/*     GENERAL STRUCTURE     
1. Normalization
2. Home page
3. Portfolio Project Pages
    - Project [001]: JC Showcase
    - Project [002]: BBDD in cooperation with the United Nations
    - Project [003]: Art&Connect.app
    - Project [004]: Burst Project
4. Resume page
5. Playground page
6. Contact page 
7. Window checks
8. Keyframes
9. Media Querys
*/

/* 1. NORMALIZATION */
/*Normalization of margins and padding in all navigators*/
*{
    margin: 0;
    padding: 0;
}
/*Custom Colour Palette*/
:root{
    --textColor: #484848;
    --backgroundColor: #f9f9f9;
    --detailsColor: #9f9f9f;
}
 /*Set a Custom Cursor, hide scroll bars in all navigators and camuflate links*/
html{
    cursor: url(../img/cursor-normal.png), auto;
    scrollbar-width: none; /* Hide scroll bar in Firefox */
    -ms-overflow-style: none;  /* Hide scroll bars in Internet Explorer y Edge antiguos */
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none; /* Hide scroll bars in Chrome, Safari y Opera */
}
a{
    text-decoration: none;
}
/* End of 1. NORMALIZATION */

/*2. HOMEPAGE
DESCRIPTION: front page styles and animations. The timing has been precisely taken into account when styling this page.
GENERAL STRUCTURE:
    - Header
    - Principal Headings
    - Gallery of Portfolio Projects
*/
body{
    font-family: "Manrope", sans-serif;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Header */
header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 2vw;
    opacity: 0;
    background-color: var(--backgroundColor);
    position: fixed;
    top:0;
    left:0;
    z-index: 2; 
    gap: 2vw;
}
/* The header can have two classes: either .down or .opaco. 
    - .down -> it animates the header when loading the index.html
    - .opaco -> it keeps the header static without animations in the rest of the .html documents
*/
.down{
    animation: down 2s;
    animation-fill-mode: forwards;
}
.opaco{ 
    opacity: 1;
}
/* Back to home page button */
h2{
    font-size: 1em;
    font-weight: 600;
    color: var(--textColor);
    display: inline;
}
/* Navigation menu */
nav ul{
    list-style:none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    background-color: var(--textColor);
    padding: clamp(5px, 1vw, 10px) clamp(7px, 1vh, 20px); /* clamp() helps to keep the design responsive in all windows by setting (min-width, ideal relative value, max-width) */
    border-radius: 20px;
    gap: 2vw; 
}
/* Navigation menu links */
li a{
    color: var(--backgroundColor);
    font-weight: 300;
}
/*Navigation menu headers */
h6{
    font-size: clamp(0.5em, 1vw, 0.67em);
}
h6:hover{
    color: var(--detailsColor);
    transform: scale(0.85);
}
/* Contact button */
header button{
    background-color: var(--textColor);
    color: var(--backgroundColor);
    border-radius:50px;
    font-family: "Manrope", sans-serif;
    padding: clamp(5px, 1vw, 10px) clamp(10px, 1vh, 20px);
    font-weight: 600;
    font-size: clamp(0.6em, 1vw, 0.8em);
}
header button:hover{
    transition: scale(1.1) 2s;
    transition-timing-function: ease; /* Pregungarle esto a chatgpt*/
    background-color: var(--backgroundColor);
    color: var(--textColor);
    box-shadow: 2px 5px 10px var(--detailsColor);
    border: 1px solid var(--textColor);
}
/* End of Header */

/* Principal HTML Headings in the Home page */
section{ /* Note that we stablish in here the properties of section and will use it many times as a resource in other .html pages */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.headings{
    height: 100vh;
}
/* Principal HTML Heading*/
h1{
    font-size: clamp(3rem, 10vw, 6rem);
    margin-top: 45vh;
    text-align: center;
    line-height: 1em;
}
/* This h1 contains an animation which consist of being completely invisible in the very beginning, and then show itself character by character from left to right. To achieve I used the animation property, HTML class "visible" and JS ClassList */
h1 span{
    opacity: 0;
}
h1 .visible{
    animation: fade 1s;
    animation-fill-mode: forwards;
}
/* There is an invisible group of images positionated around the H1. They are only visible when the user hover the mouse over them, to make the design more interactive*/
.invisible{
    position: absolute;
    top: 15vh;
    left: 0;
    width: 100%;
    height: 85vh;
}
.invisible img{
    opacity: 0;
    position: absolute;
    width: 150px;
}
.invisible img:nth-child(1){
    top: 25%;
    left: 30%;
}
.invisible img:nth-child(2){
    top: 50%;
    left: 40%;
}
.invisible img:nth-child(3){
    top: 45%;
    left: 65%;
}
.invisible img:nth-child(4){
    top: 10%;
    left: 5%;
}
.invisible img:nth-child(5){
    top: 25%;
    left: 50%;
}
.invisible img:nth-child(6){
    top: 35%;
    left: 6%;
}
.invisible img:nth-child(7){
    top: 50%;
    left: 80%;
}
.invisible img:nth-child(8){
    top: 15%;
    left: 25%;
}
.invisible img:nth-child(9){
    top: 35%;
    left: 50%;
}
.invisible img:nth-child(10){
    top: 40%;
    left: 80%;
}
.invisible img:nth-child(11){
    top: 50%;
    left: 60%;
}
.invisible img:nth-child(12){
    top: 5%;
    left: 70%;
}
.invisible img:nth-child(13){
    top: 10%;
    left: 50%;
}
.invisible img:nth-child(14){
    top: 20%;
    left: 80%;
}
.invisible img:hover{
    animation: fade 1s;
    animation-fill-mode: backwards;
}

/* Projects and Services heading*/
h3{
    font-size: clamp(0.5rem, 5vw, 1rem);
    margin-bottom: 10vh;
    font-weight: 300;
    text-align: center;
    line-height: 1em;
}
.up{ /* This animation makes the H3 appears going up in the front page after the header and H1 finished their animations*/
    animation: up 3s;
    animation-fill-mode: forwards;
}
/* End of Principal HTML Headings */

/* Gallery of Portfolio Projects */
/* All projects (except the [000], which is explained in index.html) are clickable and guide the user to the project page once they click on it */
section a{
    width: 100%;
}
.contenedor{
    width: 100%;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    position: relative;
}
/* Name of the project*/
h4{
    font-size: clamp(0.9em, 1vw, 1.2em);
    position: sticky;
    top: 46vh;
    margin-left: 2%;
    max-width: 30%;
}
/* Labels to name the skills I used in that project */
.etiquetas{
    position: sticky;
    top: 46vh;
    /*These 4 properties ensure that when the windown has no space to display all labels in the same line, they will automatically split and be displayed around the top and bottom of the main axis, always justified and aligned in the center*/
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.etiquetas p{
    background-color: var(--detailsColor);
    color: var(--backgroundColor);
    font-size: clamp(0.7em, 1vw, 0.8em);
    border-radius: 15px;
    padding: 0.1rem 0.5rem;
}
/* Year of project completation */
.anyo{
    position: sticky;
    top: 46vh;
    margin-right: 2%;
    font-size: clamp(0.7em, 1vw, 0.8em);
}

/*Gallery of portfolio projects when :hover shows a blurred image with some screenshots of the project layout */
.contenedor:hover{
    background-color: var(--textColor);
    border: none;
    color: var(--backgroundColor);
    cursor: url("../img/cursor-normal-gris.png"), auto;
}
.contenedor:first-child button:hover{
    cursor: pointer;
}
.JC:hover{
    background: url("../img/JC-background.png") no-repeat center /cover;
}
.BBDD:hover{
    background: url("../img/BBDD-background.png") no-repeat center /cover;
}
.art:hover{
    background: url("../img/UXR-background.png") no-repeat left /cover;
}
.BP:hover{
    background: url("../img/USR-background.png") no-repeat left /cover;
}
.escondido-hov{
    display: none;
}

/* Style for the Interactive block on project [000] */
.interactivo{
    position: absolute;
    top: 17vh;
    left: clamp(5%, 5vw, 30%);
    color: var(--backgroundColor);
}
.especial{
    font-size: clamp(0.8em, 2vw, 1em);
    width: 60%;
    min-width: 250px;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.especial button{
    color: var(--textColor);
    font-size: clamp(0.7em, 2vw, 0.8em);
    border-radius: 20px;
    background-color: var(--backgroundColor);
    font-family: monospace;
    padding: 3px 10px;
}
.plegado{
    display: none;
}
/* End of Gallery of Portfolio Projects */
/* End of 2. HOMEPAGE */

/* 3. PORTFOLIO PROJECTS PAGES
DESCRIPTION: Every project in the portfolio has its own page showing pictures or videos of the final product, which requires to be given a style, specially the media width and height dimensions. Sometimes it may inlude as well texts or an interactive index that also require a different style.
GENERAL STRUCTURE:
    - Header
    - Project Content:
        - Aside: left side fixed on the screen with the main data -> project name, skills applied and year
        - Main: right part, which occupies most of the screen. It shows all the media, prototypes or explanations related to the project in horizontal scroll. All content in here is inside layout resources I created called 'ventana', which will be further explained next.
*/
.contenido{ /* Since this is a section, it is already in flex display and everything aligned and justified in the center. */
    height: 82vh;
    margin-top: 18vh;
    flex-direction: row;
}
/* aside */
aside{
    width: clamp(120px, 25vw, 200px);
    height: 100vh;
    box-sizing: border-box;
    padding: 1.5vw;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    gap: 1vh;
    border-right: 1px solid var(--textColor);
    position: fixed;
    top:0;
    left: 0;
    background-color: var(--backgroundColor);
    z-index: 1; 
} 
h5{
    font-size: clamp(0.8em, 2.5vw, 1.2em);
    font-weight: 600;
    align-self: flex-end;
}
h5 span{
    font-size:clamp(0.6em, 2.5vw, 0.7em); 
    font-weight:300;
}
aside p{
    font-size: clamp(0.8em, 2.5vw, 1.2em);
}
aside img{
    display: inline;
    width: clamp(100px, 15vw, 180px);
}
.etiquetas2 p{
    display: inline-block;
    background-color: var(--textColor);
    color: var(--detailsColor);
    border-radius: 15px;
    padding: 0.3em 1em;
    margin: 0.2rem 0.1rem 0;
    font-size:clamp(0.6em, 1vw, 0.7em); 
    font-weight:300;
}
/* End of aside */

/* Main */
main{
    width: 300%;
    height: 82vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    position: relative;
    left: 30vw;
}

/*
Ventana description: Main is divided into "ventana" sub-sections, which are a resource to normalize the layout of all images and make a coherent design. They are all placed horizontally and compossed by:
    - Ventana-top: title of the media and a small decoration image on the top corner
    - Ventana-middle: media content 
    - Ventana-bottom: small decoration images at the bottom corners and at the center
Some pages also contains 'ventana-texto', which is another kind of ventana that instead of showing media content in the middle, contains some text and do not contain decoration pictures in the corners and bottom.
*/
.ventana{
    display: grid;
    grid-template-rows: repeat(3, auto);
}
.ventana img,
.ventana video,
.ventana-texto,
.ventana-texto p, 
.ventana-top p{
    width: 30vw;
    max-height: 75vh;
    font-size: clamp(0.7em, 1.5vw, 1em);
}
.ventana-top, 
.ventana-bottom{
    width: 100%;
    margin: 0.3em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.1rem;
}
.ventana-top p{
    font-weight: 700;
    font-size: clamp(0.7em, 1vw, 1em);
    width: max-content;
}
.ventana-top :nth-child(2),
.ventana-bottom :first-child, 
.ventana-bottom :last-child{
    width:clamp(15px, 2vw,2vw);
    padding: 0.3em 0;
}
.ventana-bottom :nth-child(2){
    width: clamp(50px, 2vw, 3vw);
    height: clamp(21px, 2vh, 3vh);
    max-width: 60%;
    padding: 0.3em 0;
}
.ventana-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* End of Main */

/* Note that as mentioned before, different content type was chosen for each project. The idea is to follow the same design style but give it a twist for each project, some might include special mentions or interactive and other might include other resources. 
These different resources are explained next */

/* Project [001]: JC Portfolio */
/* Interactive Index*/
.indiceJC{
    display: grid;
    grid-template-rows: auto auto repeat(3, 15vh);
    font-weight: 600;
    gap: 0.3rem;
    max-height: 75vh;
}
.indiceJC p{
    font-size: clamp(0.8em, 2.5vw, 1em);
    text-align: center;
}
.indiceJC img{
    height: 15vh;
}
.indiceJC img:hover{
    border: 0.1rem solid var(--textColor);
    box-shadow: 0.3rem 0.3rem 0.5rem var(--textColor);
}
/* This project page contains a video in the very beggining as the 'front' of the project, so the dimensions are styled bigger than other media pieces on this web: */
.portada{
    width: 50vw;
    max-height: 70vh;
}
/* End of Project [001]: JC Portfolio */

/* Project [002]: BBDD in cooperation with the United Nations */
/* This project shows more than one picture where usually other projects only show one, so it needs a different style */
.varias-img{
    display: flex; 
    align-items: center; 
    gap:0.1rem;
}
/* Depending on the original image size, it will need some more specific properties */
.varias-img .small{
    width: clamp(40px, 10vw, 10vw);
}
.varias-img .large{
    height: clamp(200px, 50vh, 65vh)
}
/* This project has a special ventana with 4 images, so they need to be fitted in a grid*/
.grid-img{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0.3rem;
}
.grid-img img{
    height: clamp(100px, 20vh, 20vh);
    object-fit: cover;
    max-height: 20vh;
    max-width: 250px;
}
/* This project contains as well a unique section for mentioning the stakeholders involved and a picture of their logos*/
.menciones{
    max-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
/* The text in this subsection was so long that it was splited in two paragraphs and added inside a div, so that it can adapt to resposive sizes */
.menciones div{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2vw;
}
.menciones p{
    font-size: 0.7em;
    width: clamp(210px, 1vw, 25vw);
    max-height: 40vh;
}
.menciones img{
    width: clamp(200px, 40vw, 40vw);
}
/* End of project [002]: BBDD in cooperation with the United Nations */

/* Project [003]: Art&Connect.app */
mark{
    background-color: var(--textColor);
    color: var(--backgroundColor);
}
.wider-gap-responsive{
    margin-right:0;
}
.wider-gap-responsive:nth-child(2){
    margin-right: 10vw;
}
.f_monospace{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
    font-size: clamp(0.6em, 1vw, 0.9em);
    width: 37vw;
    font-family: monospace;
    max-height: 75vh;
    padding-top: 1vh;
}
.primero{
    font-size: 1.5em;
    font-family: monospace;
}
/* Interactive index of the project */
.painpoints{
    display: grid;
    grid-template: repeat(4, auto) / repeat(2, auto);
    gap: clamp(1px, 2.5vw, 3px);
    align-items: center;
    box-sizing: border-box;
    max-height: 70vh;
}
.painpoints :nth-child(2),
.painpoints :nth-child(3),
.painpoints :nth-child(6),
.painpoints :nth-child(7){
    background-color: var(--textColor);
    color: var(--backgroundColor);
    border-radius: 10px;
}
.painpoints p{
    font-size: clamp(0.5em, 1.5vw, 0.7em);
    padding: 0.5rem;
}
/* End of Project [003]: Art&Connect.app*/

/*Project [004]: Burst Project*/
/*Index of the project*/
/* Little indication text accompanying the index title*/
.ventana-top p:nth-child(2){
    flex: auto;
    margin-left: 0.3rem;
    align-self: flex-end;
}
/* Interactive images of the index for navigating through the project*/
.indiceBP{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    cursor: pointer; 
}
.indiceBP img{
    height: clamp(120px, 20vh, 20vh);
    max-height: 20vh;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    min-width: 80px;
}
.indiceBP a img:hover{
    border: 2px solid var(--textColor);
    box-shadow: 2px 2px 5px var(--textColor);
}
/* There is a conflictive image that needs special sizes properties*/
.ventana img.medium{
    max-width: 20vw;
    max-height: 60vh;
}
/* End of Project [004]: Burst Project */

/* Next Project Button. It is included at the end of all project pages to guide the user to the next project*/
.next{
    width: 150px;
    height: 150px;
    background-color: var(--textColor);
    color: var(--backgroundColor);
    border-radius: 50%;
    font-size: 1em;
    font-family: "Manrope", sans-serif;
    margin-right: 10%;
}
.next:hover{
    background-color: var(--backgroundColor);
    border: 3px solid var(--textColor);
    color: var(--textColor);
    box-shadow: 2px 2px 5px var(--textColor);
}
/* End of Next Project Button*/
/* End of 3. PROJECT PAGES */

/* 4. RESUME PAGE
DESCRIPTION: This page is styled as my CV.pdf, here are styled all the subsection and layouts.
GENERAL STRUCTURE: 
- Introduction: profile picture, about me paragraph and awards.
- Experience
- Education
- Skills
 */

.cv{ /* Since this is a section, everything is already aligned a justified in the center and the items will be displayed in flex-column orientation */
    box-sizing: border-box;
    padding: 0 2vw;
}
.horizontal{ /* This is a resource that we will use later as well on other .html page. It serves to create a container where elements are placed horizontally and aligned as well as justified in the center.*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 2%;
}
.arriba{
    align-items: flex-start;
}
.agrupado{
    flex-wrap: wrap;
    align-content:flex-start;
}
/* Introduction */
.little-details{
    align-items: center;
    padding: 17vh 0 2vh;
    gap: 2%;
}
.little-details p:nth-child(2){
    padding-left: 5vw;
    max-width: 40%;
    font-size: clamp(0.7em, 1.5vw, 1em);
}
.little-details img{
    border-radius: 50%;
    width: 20vw;
}
.premios{
    margin-top: none;
}
.premios div{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    align-items: center;
    gap: 0 1%;
}
.premios p,
.premios a:nth-child(2){
    font-size: clamp(0.7em, 1vw, 0.8em);
    font-weight: 600;
    color: var(--textColor);
}
.premios img{
    width:clamp(25px, 0.5vw,3vw);
}
/* End of Introduction*/

/* Experience & Education*/
.bloque{ /* This resource will be used to group the experiences or education info together*/
    background-color: #e5e5e5;
    border-radius: 20px;
}
.imagen{ /* This resource will be used style the images as rounded icons*/
    border-radius: 50%;
    width: 4em;
    aspect-ratio: 1 / 1;
}
.project:nth-child(1) .imagen{
    background: white url("../img/logo-tub.png") no-repeat center /contain;
}
.project:nth-child(2) .imagen{
    background: white url("../img/logo-google.png") no-repeat center /cover;
}
.project:nth-child(3) .imagen{
    background: white url("../img/logo-onu.png") no-repeat center /cover;
}
.project:nth-child(4) .imagen{
    background: white url("../img/logo-ford.jpg") no-repeat center /contain;
}
.subsection{ /* Since this is inside a section, it is already in display:flex*/
    flex-wrap: wrap;
    align-content: flex-start;
    align-self: flex-start;
}
p.subsection{
    display: inline;
    width: auto;
    font-size: clamp(1em, 1vw, 1.2em);
    font-weight: 600;
    color: var(--textColor);
    background-color: var(--backgroundColor);
    padding-top: 1rem;
}
.experience{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, auto);
    gap: 0.5% 0.5%;
    padding: 1vh 0;
}
.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.3rem 0.5rem;
}
.project p{
    align-self: center;
    font-size: clamp(0.6em, 1vw, 0.7em);
    padding: 1%;
}
.project-details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3%;
    flex-wrap: nowrap;
    justify-self: flex-start;
}
.project-details p,
.education p{
    font-weight: 600;
    font-size: clamp(0.8em, 1vw, 1em);
    line-height: 1em;
}
.project-details p span,
.education p span{
    font-weight: 600;
    font-size: clamp(0.7em, 1vw, 0.8em);
    line-height: 0.3em;
}
.project-details p:nth-child(3) span,
.education p:nth-child(3) span{
    background-color: var(--backgroundColor);
    border-radius: 20px;
    padding: 0.5rem;
    line-height: 1em;
    display: inline-block;
    text-align: center;
}
.education:nth-child(1) div{
    background: white url("../img/RESUME-logo-CEI.webp") no-repeat center /contain;
}
.education:nth-child(2) div{
    background: white url("../img/RESUME-logo-Google.png") no-repeat center /cover;
}
.education:nth-child(3) div{
    background: white url("../img/RESUME-logo-UPV.png") no-repeat center /cover;
}
.education{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(3, auto);
    justify-content: flex-start;
    align-items: center;
    gap:1% 2%;
    padding: 3%;
}
/* End of Experience & Education */
/* Skills */
.skills{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1% 2%;
}
.skills .bloque{
    padding: 2% 5%;
}
.skills .bloque p{
    font-size: clamp(0.7em, 1vw, 0.8em);
    padding-bottom: 2%;
}
/* End of Skills*/
/* End of 4. RESUME PAGE */

/* 5. PLAYGROUND PAGE
DESCRIPTION: Styles for the experimental side projects and their explanation texts.
GENERAL STRUCTURE: 
    - Header
    - Canvas:
        - Aside: left side fixed on the screen with the purpose of this page
        - Main: right part, which occupies most of the screen. Shows the three experimental projects positioned not in normal flow and not where they would be expected to be. Also the size of the ventanas is different in each of them, and their own explanation text adopts different positions and width sizes on purpose.
 */
 /* Content area */
.playground{ 
    width: 85%;
    position: absolute;
    top: 15vh;
    left: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 2vw;
}
.playground .ventana-top p {
    font-size: clamp(0.6em, 1vw, 1em);
}
/* End of Content area */
/* Text explanation of the art piece */
.exp{
    position: relative;
    top: 60%;
    max-width: 20vw;
    margin-top: 1rem;
    font-size: clamp(0.5em, 1vw, 0.7em);
    padding: clamp(0.5rem, 1vw, 1rem);
}
/* End of Text explanation of the art piece */

/* Positioning of ventanas out of regular flow */
.desplazada{
    display: flex;
    position: relative;
    align-items: flex-start;
    margin-bottom: 20vh;
}
.desplazada:nth-child(1) p.exp{
    max-width: 12vw;
}
.desplazada:nth-child(2){
    left: 15%;
}
.desplazada:nth-child(2) p.exp{
    text-align: right;
    max-width: 10vw;
}
.desplazada:nth-child(3) p.exp{
    max-width: 20vw;
}
.obra{
    position: relative;
    width: 35vw;
    height: 30vh;
    border: var(--textColor) solid 2px;
    overflow: hidden;
}
/* End of Positioning of ventanas out of regular flow */

/* Special style for the animations */
.tv{
    height: 60vh;
    width: 25vw;
    background-color: blue;
}
.sun{
    background-color: var(--textColor);
}
.sun div{
    position: absolute;
    mix-blend-mode:screen;
}
.sun div:nth-child(1){
    background-color: #FFD700;
    animation:sun 2s ease infinite, west 2s ease infinite;
}
.sun div:nth-child(2){
    background-color: #F4A300;
    animation:sun 4s ease infinite, west 4s ease infinite;
}
.sun div:nth-child(3){
    background-color: #FF8C42;
    animation:sun 1s ease infinite, west 1s ease infinite;
    animation-direction: reverse;
}
.pelota{
    width: 4em;
    height: 2.5em;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F4A300;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pelota p{
    color: var(--textColor);
    mix-blend-mode: difference;
    font-family: monospace;
    font-size: 1em;
    font-weight: 600;
}
.bicho {
    width: 10vw;
    height: 10vw;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.4s ease, background-color 0.6s ease-in, left 0.3s linear, top 0.3s linear;
  }
/* End of special styles for the animations */
/* End of 5.PLAYGROUND PAGE*/


/* 6. CONTACT PAGE
DESCRIPTION: this page keeps the style as minimal as possible, so that it does not distract the user from taking the expected action: see the e-mail and approach me.
STRUCTURE: 
  - Header
  - Personal e-mail
*/
.contacto{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 15vh;
}
.contacto a{
    width: 100%;
    text-decoration: none;
    color: var(--textColor);
    font-size: clamp(1em, 5vw, 3em);
    display: flex;
    justify-content: center;

}
.contacto a:hover{
    text-decoration: underline;
    color: var(--detailsColor);
}
/* End of 6. CONTACT PAGE */

/* 7. WINDOW CHECKS
Description: if the user is not on "landscape" mode or their screen device is <300px, the correspondent message will show on their screen to prevent them and ensure a proper user experience. Here is the style of that message: 
 */
.rotar,
.medio{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(132, 132, 132, 0.8);
    color: var(--textColor);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    text-align: center;
}
/* Please note that the message of "change to a wider screen" has priority over the "rotate your device" one.*/
.rotar{
    z-index: 3;
}
.medio{
    z-index: 4;
}
/* End of 7. WINDOW CHECKS */

/* 8. KEYFRAMES
Description: the document contains some animations in the front page and the playground page that are styled as the follows: 
*/

/* H1 animation that makes its characters appears on the screen one by one */
@keyframes fade{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}

/* Header animation that allows it to fall down into the screen after the H1 animation finish */
@keyframes down {
    from{
        translate: 0 -1000px;
        opacity: 0;
    }
    to{
        translate: 0 0px;
        opacity: 1;
    }
}

/* H3 animation that allows it to go up into the screen after the header animation finish */
@keyframes up {
    from{
        translate: 0 1000px;
        opacity: 0;
    }
    to{
        translate: 0 0px;
        opacity: 1;
    }
}

/* Animations for the experimental piece [001] in playground.html */
@keyframes sun {
    0%{
        scale: 1;
        top: 80%;
        box-shadow: 2px 2px 1px blanchedalmond;
    }
    25%{
        scale: 1.3;
        top: 30%;
        box-shadow: 3px 3px 3px blanchedalmond;
    }
    50%{
        scale: 1.7;
        top: 15%;
        box-shadow: 5px 5px 5px blanchedalmond;
    }
    75%{
        scale: 1.5;
        top: 30%;
        box-shadow: 3px 3px 3px blanchedalmond;
    }
    100%{
        scale: 1;
        top: 80%;
        box-shadow: 2px 2px 1px blanchedalmond;
    }
}

@keyframes west {
    0%{
        left: 0%;
    }
    20%{
        left: 20%;
    }
    50%{
        left: 50%;
    }
    75%{
        left: 80%;
    }
    100%{
        left: 100%;
    }
}

/* 9. MEDIA QUERYS
DESCRIPTION: the main function of the media querys in here is to add some margin or change responsive layouts in smaller screens, so that the design can adapts to all window sizes. */

/* Detects if the user is using a touchable device and delete the vertical scroll in <main> */
@media (pointer: coarse) {
   main{
    overflow-y: hidden;
   }
  }

/* Shows ans alert message to the user so that they can change to a wider screen */
@media screen and (max-width: 300px) {
    .medio{
        display: flex;
    }
}
@media screen and (max-height: 300px) {
    .medio{
        display: flex;
    }
}

@media screen and (max-width:373px) {
    .bigger{
        padding-right: 60vw;
    }
}

@media screen and (max-height: 360px) {
    aside img{
        display: none;
    }
    .wider-gap-responsive:nth-child(2) .ventana-bottom,
    .wider-gap-responsive:nth-child(2) .ventana-top img{
        display: none;
    }
    .wider-gap-responsive{
        padding-right: 30vw;
    }
}

@media screen and (max-width: 585px) and (max-height: 350px) {
    .wider-gap-responsive{
        padding-right: 50vw;
    }
}

@media screen and (max-height: 500px) {
    .painpoints{
        grid-template: repeat(4, auto) / 1fr 25vw 1fr 25vw;
    }
}

@media screen and (max-width: 500px) {

    main{
        left: 45vw;
    }
    .horizontal{
        flex-wrap: wrap;
    }
    .experience{
        display: flex;
        flex-wrap: wrap;
    }
    .premios{
        margin-top: 3vh;
    }
    .playground{
        left: 120px;
        width: auto;
    }
    .desplazada{
        flex-direction: column;
        margin-top: 0;
    }
    .desplazada:nth-child(1) p.exp,
    .desplazada:nth-child(2) p.exp,
    .desplazada:nth-child(3) p.exp{
        max-width: 40vw;
    }
    .tv{
        height: 40vh;
    }
}

@media screen and (max-width:600px){
    .desplazada{
        position: static;
    }
}