/*Normalization of margins and padding in all navigators*/
*{
    margin: 0;
    padding: 0;
}
/*Definition of Custom Colour Palette*/
:root{
    --textColor: #484848;
    --backgroundColor: #f9f9f9;
    --detailsColor: #9f9f9f;
}

 /*For this project we set a Custom Cursor and we want to camuflate the links*/
html{
    cursor: url(../img/cursor-normal.png), auto;
    /* scroll-behavior: smooth; */
} 
a{
    text-decoration: none;
}

/*Homepage*/
body{
    font-family: "Manrope", sans-serif;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}
/* Header */
header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 2vw;
    opacity: 0;
    background-color: var(--backgroundColor);
    position: fixed;
    top:0;
    z-index: 2; 
    gap: 2vw;
}
h2{
    font-size: 1em;
    font-weight: 600;
    color: var(--textColor);
    display: inline;
}
h2:hover{
    transition: rotar 0.4s ease;
}
nav ul{
    list-style:none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    background-color: var(--textColor);
    padding: clamp(5px, 1vw, 10px) clamp(7px, 1vh, 20px);
    border-radius: 20px;
    gap: 2vw; 
}
li a{
    color: var(--backgroundColor);
    font-weight: 300;
}
h6{
    font-size: clamp(0.5em, 1vw, 0.67em);
}
h6:hover{
    color: var(--detailsColor);
    transform: scale(0.85);
}
 /*.menu-movil-abrir,
.menu-movil-cerrar{
    display: none;
} */
header button{
    background-color: var(--textColor);
    color: var(--backgroundColor);
    border-radius:50px;
    font-family: "Manrope", sans-serif;
    padding: clamp(5px, 1vw, 10px) clamp(10px, 1vh, 20px);
    font-weight: 600;
    font-size: clamp(0.6em, 1vw, 0.8em);
}
header button:hover{
    transition: scale(1.1) 2s;
    transition-timing-function: ease; /* Pregungarle esto a chatgpt*/
    background-color: var(--backgroundColor);
    color: var(--textColor);
    box-shadow: 2px 5px 10px var(--detailsColor);
    border: 1px solid var(--textColor);
}
.down{
    animation: down 2s;
    animation-fill-mode: forwards;
}
/* End of Header */

/* Principal HTML Headings */
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.headings{
    height: 100vh;
}
/* Style and animation for the principal HTML Heading*/
h1{
    font-size: clamp(3rem, 10vw, 6rem);
    margin-top: 45vh;
    text-align: center;
    line-height: 1em;
}
/* This h1 contains an animation which consist of being completely invisible in the very beginning, and then show itself character by character from left to right. To achieve I used the animation property, HTML class "visible" and JS ClassList */
h1 span{
    opacity: 0;
}
h1 .visible{
    animation: fade 1s;
    animation-fill-mode: forwards;
}
.invisible{
    position: absolute;
    top: 15vh;
    left: 0;
    width: 100%;
    height: 85vh;
}
.invisible img{
    opacity: 0;
    position: absolute;
    width: 150px;
}
.invisible img:nth-child(1){
    top: 25%;
    left: 30%;
}
.invisible img:nth-child(2){
    top: 50%;
    left: 40%;
}
.invisible img:nth-child(3){
    top: 45%;
    left: 65%;
}
.invisible img:nth-child(4){
    top: 10%;
    left: 5%;
}
.invisible img:nth-child(5){
    top: 25%;
    left: 50%;
}
.invisible img:nth-child(6){
    top: 35%;
    left: 6%;
}
.invisible img:nth-child(7){
    top: 50%;
    left: 80%;
}
.invisible img:nth-child(8){
    top: 15%;
    left: 25%;
}
.invisible img:nth-child(9){
    top: 35%;
    left: 50%;
}
.invisible img:nth-child(10){
    top: 40%;
    left: 80%;
}
.invisible img:nth-child(11){
    top: 50%;
    left: 60%;
}
.invisible img:nth-child(12){
    top: 5%;
    left: 70%;
}
.invisible img:nth-child(13){
    top: 10%;
    left: 50%;
}
.invisible img:nth-child(14){
    top: 20%;
    left: 80%;
}
.invisible img:hover{
    animation: fade 1s;
    animation-fill-mode: backwards;
}
/* El sub-header que informa de los servicios en los que estoy especializada */

/* Projects and Services style and entrance animation*/
h3{
    font-size: clamp(0.5rem, 5vw, 1rem);
    margin-bottom: 10vh;
    font-weight: 300;
    text-align: center; /* Por defecto el texto se pondrá todo en la misma línea, pero cuando el navigator window ya no tenga más espacio, pasará a ponerse en 2 líneas */
    line-height: 1em;
}
.up{
    animation: up 3s;
    animation-fill-mode: forwards;
}
/* End of Principal HTML Headings */

/* Gallery of Portfolio Projects */
section a{
    width: 100%;
}
.contenedor{
    width: 100%;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    position: relative;
}
h4{
    font-size: clamp(0.9em, 1vw, 1.2em);
    position: sticky;
    top: 46vh;
    margin-left: 2%;
    max-width: 30%;
}
.etiquetas{
    position: sticky;
    top: 46vh;
    /*These 4 properties ensure that when the windown has no space to display all labels in the same line, they will automatically split and be displayed around the top and bottom of the main axis, always justified and aligned in the center*/
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.etiquetas p{
    background-color: var(--detailsColor);
    color: var(--backgroundColor);
    font-size: clamp(0.7em, 1vw, 0.8em);
    border-radius: 15px;
    padding: 0.1rem 0.5rem;
}
.anyo{
    position: sticky;
    top: 46vh;
    margin-right: 2%;
    font-size: clamp(0.7em, 1vw, 0.8em);
}

/*Gallery of portfolio projects when :hover */
.contenedor:hover{
    background-color: var(--textColor);
    border: none;
    color: var(--backgroundColor);
    cursor: url("../img/cursor-normal-gris.png"), auto;
}
.contenedor:first-child button:hover{
    cursor: pointer;
}
.JC:hover{
    background: url("../img/JC-background.png") no-repeat center /cover;
}
.BBDD:hover{
    background: url("../img/BBDD-background.png") no-repeat center /cover;
}
.art:hover{
    background: url("../img/UXR-background.png") no-repeat left /cover;
}
.BP:hover{
    background: url("../img/USR-background.png") no-repeat left /cover;
}
.escondido-hov{
    display: none;
}

/* Style for the Interactive block on project [000] */
.interactivo{
    position: absolute;
    top: 17vh;
    left: clamp(5%, 5vw, 30%);
    color: var(--backgroundColor);
}
.especial{
    font-size: clamp(0.8em, 2vw, 1em);
    width: 60%;
    min-width: 250px;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.especial button{
    color: var(--textColor);
    font-size: clamp(0.7em, 2vw, 0.8em);
    border-radius: 20px;
    background-color: var(--backgroundColor);
    font-family: monospace;
    padding: 3px 10px;
}
.plegado{
    display: none;
}
/* End of Gallery of Portfolio Projects */

/* PORTFOLIO PROJECTS PAGES
DESCRIPTION:
GENERAL STRUCTURE:

*/
.contenido{ /* Al ser una section ya viene con las propiedades de width 100% display flex, align-items center, justifiy content center */
    height: 82vh;
    margin-top: 18vh;
    flex-direction: row;
}
aside{
    width: clamp(120px, 25vw, 200px);
    height: 100vh;
    box-sizing: border-box;
    padding: 1.5vw;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    gap: 1vh;
    border-right: 1px solid var(--textColor);
    position: fixed;
    top:0;
    left: 0;
    background-color: var(--backgroundColor);
    z-index: 1; /*mirar luego bien lo de este z-index */
} 
h5{
    font-size: clamp(0.8em, 2.5vw, 1.2em);
    font-weight: 600;
    align-self: flex-end;
}
h5 span{
    font-size:clamp(0.6em, 2.5vw, 0.7em); 
    font-weight:300;
}
aside p{
    font-size: clamp(0.8em, 2.5vw, 1.2em);
}
aside img{
    display: inline;
    width: clamp(100px, 15vw, 180px);
}
.etiquetas2 p{
    display: inline-block;
    background-color: var(--textColor);
    color: var(--detailsColor);
    border-radius: 15px;
    padding: 0.3em 1em;
    margin: 0.2rem 0.1rem 0;
    font-size:clamp(0.6em, 1vw, 0.7em); 
    font-weight:300;
}
main{
    width: 300%;
    height: 82vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    position: relative;
    left: 30vw;
    overflow-y: hidden;
}
 /* main div, 
main video{
    animation: fade 1s;
} */

/* Project [001]: JC Portfolio */
.indiceJC{
    display: grid;
    grid-template-rows: auto auto repeat(3, 15vh);
    font-weight: 600;
    gap: 0.3rem;
    max-height: 75vh;
    /*white-space: nowrap; /* Como el p primero es más ancho, por defecto se corta y genera un eje nuevo, no queremos eso*/
}
.indiceJC p{
    font-size: clamp(0.8em, 2.5vw, 1em);
    text-align: center;
}
.indiceJC img{
    height: 15vh;
}
.indiceJC img:hover{
    border: 0.1rem solid var(--textColor);
    box-shadow: 0.3rem 0.3rem 0.5rem var(--textColor);
}
main video:first-child{
    width: 50vw;
    max-height: 70vh;
}
.ventana{
    display: grid;
    grid-template-rows: repeat(3, auto);
}
.ventana img,
.ventana video,
.ventana-texto,
.ventana-texto p, 
.ventana-top p{
    width: 30vw;
    max-height: 75vh;
    font-size: clamp(0.7em, 1.5vw, 1em);
}
.ventana-top, 
.ventana-bottom{
    width: 100%;
    margin: 0.3em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.1rem;
}
.ventana-top p{
    font-weight: 700;
    font-size: clamp(0.7em, 1vw, 1em);
    width: max-content;
}
.ventana-top :nth-child(2),
.ventana-bottom :first-child, 
.ventana-bottom :last-child{
    width:clamp(15px, 2vw,2vw);
    padding: 0.3em 0;
}
.ventana-bottom :nth-child(2){
    width: clamp(50px, 2vw, 3vw);
    height: clamp(21px, 2vh, 3vh);
    max-width: 60%;
    padding: 0.3em 0;
}
.ventana-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*BBDD */
.varias-img{
    display: flex; 
    align-items: center; 
    gap:0.1rem;
}
.varias-img .small{
    width: clamp(40px, 10vw, 10vw);
}
.varias-img .large{
    height: clamp(200px, 50vh, 65vh)
}
.grid-img{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0.3rem;
}
.grid-img img{
    height: clamp(100px, 20vh, 20vh);
    object-fit: cover;
    max-height: 20vh;
    max-width: 250px;
}
.menciones{
    max-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
.menciones div{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2vw;
}
.menciones p{
    font-size: 0.7em;
    width: clamp(210px, 1vw, 25vw);
    max-height: 40vh;
}
.menciones img{
    width: clamp(200px, 40vw, 40vw);
}


/* Project [003]: Art&App.com */
mark{
    background-color: var(--textColor);
    color: var(--backgroundColor);
}
.wider-gap-responsive{
    margin-right:0;
}
.wider-gap-responsive:nth-child(2){
    margin-right: 10vw;
}
.f_monospace{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
    font-size: clamp(0.6em, 1vw, 0.9em);
    width: 37vw;
    font-family: monospace;
    max-height: 75vh;
    padding-top: 1vh;
}
.primero{
    font-size: 1.5em;
    font-family: monospace;
}
.painpoints{
    width: 30vw;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    gap: clamp(1px, 2.5vw, 3px);
    align-items: center;
    box-sizing: border-box;
    max-height: 70vh;
}
.painpoints :nth-child(2),
.painpoints :nth-child(3),
.painpoints :nth-child(6),
.painpoints :nth-child(7){
    background-color: var(--textColor);
    color: var(--backgroundColor);
    border-radius: 10px;
}
.painpoints p{
    font-size: clamp(0.5em, 1.5vw, 0.7em);
    padding: 0.5rem;
}
.painpoints p:nth-child(2),
.painpoints p:nth-child(4),
.painpoints p:nth-child(6),
.painpoints p:nth-child(8){
    width: 40vw
}

/*[004] Burst Project*/
.ventana-top p:nth-child(2){
    flex: auto;
    margin-left: 0.3rem;
    align-self: flex-end;
}
.indiceBP{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    cursor: pointer; 
}
.indiceBP img{
    height: clamp(120px, 20vh, 20vh);
    max-height: 20vh;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    min-width: 80px;
}
.indiceBP a img:hover{
    border: 2px solid var(--textColor);
    box-shadow: 2px 2px 5px var(--textColor);
}
.ventana img.medium{
    max-width: 20vw;
    max-height: 60vh;
}

/*Botón next */
.next{
    width: 150px;
    height: 150px;
    background-color: var(--textColor);
    color: var(--backgroundColor);
    border-radius: 50%;
    font-size: 1em;
    font-family: "Manrope", sans-serif;
    margin-right: 10%;
}
.next:hover{
    background-color: var(--backgroundColor);
    border: 3px solid var(--textColor);
    color: var(--textColor);
    box-shadow: 2px 2px 5px var(--textColor);
}

/* Resume Page */
.cv{
    /* height: 100vh; */
    box-sizing: border-box;
    padding: 0 2vw;
}
.horizontal{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 2%;
}
.arriba{
    align-items: flex-start;
}
.agrupado{
    flex-wrap: wrap;
    align-content:flex-start ;
}
.little-details{
    align-items: center;
    padding: 17vh 0 2vh;
    gap: 2%;
}
.little-details p:nth-child(2){
    padding-left: 5vw;
    max-width: 40%;
    font-size: clamp(0.7em, 1.5vw, 1em);
}
.little-details img{
    border-radius: 50%;
    width: 20vw;
}
.premios{
    margin-top: none;
}
.premios div{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    align-items: center;
    gap: 0 1%;
}
.premios p,
.premios a:nth-child(2){
    font-size: clamp(0.7em, 1vw, 0.8em);
    font-weight: 600;
    color: var(--textColor);
}
.premios img{
    width:clamp(25px, 0.5vw,3vw);
}
.bloque{
    background-color: #e5e5e5;
    border-radius: 20px;
}
.imagen{
    border-radius: 50%;
    width: 4em;
    aspect-ratio: 1 / 1;
}
.project:nth-child(1) .imagen{
    background: white url("../img/logo-tub.png") no-repeat center /contain;
}
.project:nth-child(2) .imagen{
    background: white url("../img/logo-google.png") no-repeat center /cover;
}
.project:nth-child(3) .imagen{
    background: white url("../img/logo-onu.png") no-repeat center /cover;
}
.project:nth-child(4) .imagen{
    background: white url("../img/logo-ford.jpg") no-repeat center /contain;
}
.subsection{ /* Al estar dentro de una section ya tiene display flex*/
    flex-wrap: wrap;
    align-content: flex-start;
    align-self: flex-start;
}
a.subsection{
    width: auto;
    font-size: clamp(1em, 1vw, 1.2em);
    font-weight: 600;
    color: var(--textColor);
    background-color: var(--backgroundColor);
    padding-top: 1rem;
}
.subsection p{
    display: inline;
}
.experience{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, auto);
    gap: 0.5% 0.5%;
    padding: 1vh 0;
}
.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.3rem 0.5rem;
}
.project p{
    align-self: center;
    font-size: clamp(0.6em, 1vw, 0.7em);
    padding: 1%;
}
.project-details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3%;
    flex-wrap: nowrap;
    justify-self: flex-start;
}
.project-details p,
.education p{
    font-weight: 600;
    font-size: clamp(0.8em, 1vw, 1em);
    line-height: 1em;
}
.project-details p span,
.education p span{
    font-weight: 600;
    font-size: clamp(0.7em, 1vw, 0.8em);
    line-height: 0.3em;
}
.project-details p:nth-child(3) span,
.education p:nth-child(3) span{
    background-color: var(--backgroundColor);
    border-radius: 20px;
    padding: 0.5rem;
    line-height: 1em;
    display: inline-block;
    text-align: center;
}
.skills{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1% 2%;
}
.skills .bloque{
    padding: 2% 5%;
}
.skills .bloque p{
    font-size: clamp(0.7em, 1vw, 0.8em);
    padding-bottom: 2%;
}
.enlace{
    width: auto;
    align-self: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}
.enlace .imagen{
    width: 2em;
}
.enlace a:nth-child(1){
    background: var(--backgroundColor) url("../img/RESUME-logo-GitHub.png") no-repeat center /contain;
}
.enlace a:nth-child(2){
    background: var(--backgroundColor) url("../img/RESUME-logo-LinkedIn.webp") no-repeat center /contain;
}
.education .imagen{
    width: 3em;
    height: 3em;
}
.education:nth-child(1) div{
    background: white url("../img/RESUME-logo-CEI.webp") no-repeat center /contain;
}
.education:nth-child(2) div{
    background: white url("../img/RESUME-logo-Google.png") no-repeat center /cover;
}
.education:nth-child(3) div{
    background: white url("../img/RESUME-logo-UPV.png") no-repeat center /cover;
}
.education{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(3, auto);
    justify-content: flex-start;
    align-items: center;
    gap:1% 2%;
    padding: 3%;
}

/* Playground Page */
.playground{ 
    width: 85%;
    position: absolute;
    top: 15vh;
    left: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 2vw;
}
.playground .ventana-top p {
    font-size: clamp(0.6em, 1vw, 1em);
}
.exp{
    position: relative;
    top: 60%;
    max-width: 20vw;
    margin-top: 1rem;
    font-size: clamp(0.5em, 1vw, 0.7em);
    padding: clamp(0.5rem, 1vw, 1rem);
}
.desplazada{
    display: flex;
    position: relative;
    align-items: flex-start;
    margin-bottom: 20vh;
}
.desplazada:nth-child(1) p.exp{
    max-width: 12vw;
}
.desplazada:nth-child(2){
    left: 15%;
}
.desplazada:nth-child(2) p.exp{
    text-align: right;
    max-width: 10vw;
}
.desplazada:nth-child(3) p.exp{
    max-width: 20vw;
}
.obra{
    position: relative;
    width: 35vw;
    height: 30vh;
    border: var(--textColor) solid 2px;
    overflow: hidden;
}
.tv{
    height: 60vh;
    width: 25vw;
    background-color: blue;
}
.sun{
    background-color: var(--textColor);
}
.sun div{
    position: absolute;
    mix-blend-mode:screen;
}
.sun div:nth-child(1){
    background-color: #FFD700;
    animation:sun 2s ease infinite, west 2s ease infinite;
}
.sun div:nth-child(2){
    background-color: #F4A300;
    animation:sun 4s ease infinite, west 4s ease infinite;
}
.sun div:nth-child(3){
    background-color: #FF8C42;
    animation:sun 1s ease infinite, west 1s ease infinite;
    animation-direction: reverse;
}
.pelota{
    width: 4em;
    height: 2.5em;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F4A300;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pelota p{
    color: var(--textColor);
    mix-blend-mode: difference;
    font-family: monospace;
    font-size: 1em;
    font-weight: 600;
}
.bicho {
    width: 10vw;
    height: 10vw;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.4s ease, background-color 0.6s ease-in, left 0.3s linear, top 0.3s linear;
  }

/* Contact Page */
.contacto{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 15vh;
}
.contacto a{
    width: 100%;
    text-decoration: none;
    color: var(--textColor);
    font-size: clamp(1em, 5vw, 3em);
    display: flex;
    justify-content: center;

}
.contacto a:hover{
    text-decoration: underline;
    color: var(--detailsColor);
}
/* End of Contact Page */

.medio{
    display: none;
    width: 100%;
    height: 100vh;
    background-color: var(--textColor);
    color: var(--backgroundColor);
    justify-content: center;
    align-items: center;
    font-size: 1em;
    position: fixed;
    top: 0;
    padding: 20%;
}

/* KEYFRAMES FOR ANIMATING TRANSITIONS */
@keyframes fade{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}

@keyframes down {
    from{
        translate: 0 -1000px;
        opacity: 0;
    }
    to{
        translate: 0 0px;
        opacity: 1;
    }
}

@keyframes up {
    from{
        translate: 0 1000px;
        opacity: 0;
    }
    to{
        translate: 0 0px;
        opacity: 1;
    }
}

@keyframes rotar {
    from{
        transform: rotateX(0deg);
        transform: rotateY(0deg);
    }
    to{
        transform: rotateX(90deg);
        transform: rotateY(-10deg);
    }
}

@keyframes sun {
    0%{
        scale: 1;
        top: 80%;
        box-shadow: 2px 2px 1px blanchedalmond;
    }
    25%{
        scale: 1.3;
        top: 30%;
        box-shadow: 3px 3px 3px blanchedalmond;
    }
    50%{
        scale: 1.7;
        top: 15%;
        box-shadow: 5px 5px 5px blanchedalmond;
    }
    75%{
        scale: 1.5;
        top: 30%;
        box-shadow: 3px 3px 3px blanchedalmond;
    }
    100%{
        scale: 1;
        top: 80%;
        box-shadow: 2px 2px 1px blanchedalmond;
    }
}

@keyframes west {
    0%{
        left: 0%;
    }
    20%{
        left: 20%;
    }
    50%{
        left: 50%;
    }
    75%{
        left: 80%;
    }
    100%{
        left: 100%;
    }
}


@media screen and (max-width: 300px) {
    .medio{
        display: flex;
        z-index: 3;
    }
}
@media screen and (max-height: 300px) {
    .medio{
        display: flex;
        z-index: 3;
    }
}

@media screen and (max-width:420px) {
    .wider-gap-responsive{
        padding-right: 40vw;
    }
}

@media screen and (max-width:373px) {
    .bigger{
        padding-right: 60vw;
    }
}

@media screen and (max-height: 360px) {
    aside img{
        display: none;
    }
    .wider-gap-responsive:nth-child(2) .ventana-bottom,
    .wider-gap-responsive:nth-child(2) .ventana-top img{
        display: none;
    }
}
@media screen and (max-width: 500px) {

    main{
        left: 45vw;
    }
    .horizontal{
        flex-wrap: wrap;
    }
    .experience{
        display: flex;
        flex-wrap: wrap;
    }
    .premios{
        margin-top: 3vh;
    }
    .playground{
        left: 120px;
        width: auto;
    }
    .desplazada{
        flex-direction: column;
        margin-top: 0;
    }
    .desplazada:nth-child(1) p.exp,
    .desplazada:nth-child(2) p.exp,
    .desplazada:nth-child(3) p.exp{
        max-width: 40vw;
    }
    .tv{
        height: 40vh;
    }
}

@media screen and (max-width:600px){
    .desplazada{
        position: static;
    }
}
#rotate-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8); /* fondo oscuro semitransparente */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    text-align: center;
    z-index: 99999;
    pointer-events: none; /* opcional, para que no bloquee si quieres */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
    

    /*nav{
        position: fixed;
        top: -50vh;
        transition:top 0.8s;
        background-color: var(--textColor);
        padding: 0.3rem;
        width:auto;
        height:auto;
    }
    .desplegado{ /* esta clase se la pondremos al nav*/
       /* top: calc(7.5vh + 30px);
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    li a{
        background-color: var(--textColor);
        color: var(--backgroundColor);
        border: 1px solid var(--backgroundColor);
    }
    li a:hover{
        background-color: var(--detailsColor);
        color: var(--textColor);
        border: 1px solid var(--textColor);
    }
    .menu-movil-abrir{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--backgroundColor);
        border:1px solid var(--textColor);
        border-radius: 50%;
        box-sizing: border-box;
        padding: 6px 5px;
        width: 30px;
        height: 30px;
        position: absolute;
        top: calc(7.5vh - 15px);
        right: calc(2vw + 15px);
    }
    .menu-movil-abrir span{
        display: block;
        height: 2px;
        width: 20px;
        background-color: var(--textColor);
    }
    .menu-movil-cerrar{
        display: block;
        border: none;
        background-color: transparent;
        color: var(--textColor);
        font-size: 1em;
        position:absolute;
        top: calc(7.5vh - 15px);
        right: calc(2vw + 15px);
    }
    header .cta{
        display: none;
        /*
        padding: 5px 10px;
        font-weight: 500;
        font-size: 0.6em;
        align-self: center;
        position: absolute;
        top: calc(7.5vh - 15px);
        right: calc(50% - 30px);*/ 
/*    }*/
    
